<%- include('./inc/header') %>

    <%- include('./inc/sidebar') %>

        <!-- main content-->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Deposit</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">p2p</a></li>
                                        <li class="breadcrumb-item active">List</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->


                    <div class="row justify-content-center mt-5">
                        <div class="col-xl-4">
                            <div class="text-center mb-4 pb-2">
                                <h4 class="fw-semibold fs-22">P2P DEPOSIT LIST</h4>
                                <p class="text-muted mb-4 fs-15">Please select from the below p2p list to make your deposit with.</p>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                    <div class="row">
                        <% peers.forEach(p2p => { %>
                        <div class="col-xxl-4 col-lg-6">
                            <div class="card bg-info bg-opacity-10 border-0">
                                <div class="card-body p-4 m-2">
                                    <div class="row mb-3">
                                        <div class="col-lg-6">
                                            <div>
                                                <h5 class="mb-1"><%= p2p.data().title %></h5>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <ul class="list-unstyled vstack gap-3 mb-0">
                                                <li>Transactions: <span class="text-info fw-semibold"><%= p2p.data().transactions %></span></li>
                                                <li>Rating: <span class="text-info fw-semibold"><%= p2p.data().rating %></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <a href="<%= p2p.data().link %>" class="btn btn-info w-100">Link For Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
        </div>
        <!-- end main content-->


        <%- include('./inc/footer') %>